@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Nunito:wght@300&family=Poppins:wght@300&display=swap');

:root{
  font-family: 'Nunito', sans-serif !important;
  font-family: 'Nunito Sans', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  padding: 40px 50px;
  background-color: white;
}